.rootDiv{
height: 100%;
position: relative;
bottom: -90px;
margin-top: 50px;
display: flex;
justify-content: center;
background-image: url('https://i.im.ge/2022/11/12/SlJL7y.Sin-titulo-3.png');
height: 188px;
}

.nav{
position: static;
display: flex;
justify-content: center;
margin: 10px 5px 10px 5px;
padding: 10px 5px 10px 5px;
height: 30px;
width: 100vw;


}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 2px 0px 2px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;

}

.page_button {
    display: flex;
    flex-direction: row;
}


